body{
    font-family: rockwell;
    font-size: 20px;
    color: #fdf6e3;
    background-color: #202020;
    margin: 0;
    padding: 0;
}
/* Global */
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
  /* Header */
header{
    padding-top: 30px;
    min-height: 70px;
}
header a{
    text-decoration: none;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    text-transform: uppercase;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
    margin-left: 20px;
}
/* header #branding img{
    width: 35%;
    margin: 0;
} */
header nav{
    float: right;
    margin-top: 15px;
    margin-right: 5px;
}
header .current a, header a:hover{
    color: #fdf6e3;
    border-bottom: solid;
    border-color: #dc322f;
}
header a:link{
    color: #fdf6e3;
}
header a:visited{
    color: #fdf6e3;
}
/* Article */
#intro .intro{
    text-align: center;
    font-size: 30px;
    padding: 20px
}
/* About */
#about .about a{
    text-decoration: none;
    color: #93a1a1;
}
#about .about a:link, a:visited{
    color: #93a1a1;
}
#about .about a:hover{
    text-decoration: underline;
    color: #fdf6e3;
}
/* Boxes */
#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 20px;
}
#boxes .box img{
    width: 100%;
}
#boxes .box a{
    text-decoration: none;
    text-transform: uppercase;
}
#boxes .box a:hover{
    color: #fdf6e3;
    font-weight: bold;
}
#boxes .box a:link{
    color: #fdf6e3;
}
#boxes .box a:visited{
    color: #fdf6e3;
}
/* Videos */
#videos .player{
    padding: 56.25% 0 0 0;
    position:relative;
    margin-top: 20px;
    margin-bottom: 30px;
}
#videos .player-no-parking{
    padding: 75% 0 0 0;
    position:relative;
}
#videos .player-yt{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
#videos iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#videos .title{
    text-align: center;
    margin-top: 50px;
}
/* Footer */
/* footer{
    float: left;
    width: 60%;
    margin-left: 25%;
    padding: 0 20px 0 20px;
} */
/* Media Queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header li,
    footer,
    #boxes .box{
        float: none;
        text-align: center;
        width: 100%;
    }
}
